body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space:normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*HOME PAGE STYLING*/
h2#header {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    padding-top:40px;
    padding-bottom:40px;
    color:gold;
    margin-top:0px;
    margin-bottom:0px;
    animation:alternate-reverse;
}
.jumbotron {
    text-align: center;
    background-image: url('../Images/zinkengrey.jpg');
    color:#D8B760;
}
/*CAROUSEL IMAGE EDITING*/
#bose {
    width:1140px;
    height:500px;
}
#sony {
    width:1140px;
    height:500px;
}
#beats {
    width:1140px;
    height:500px;
}
/*REVIEW PAGE EDITING*/
b {
    color:#9C2900;
}
h4 {
    color:white;
}
div#background.col-md-12.colBorder {
    background-image: url('../Images/nature.jpg');
}
body {
    background-color:#9C2900;
}
h5 {
    color:white;
}